*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	overflow: hidden;
	font-family: 'Inter', sans-serif;
	color: #1C2F36;
}

.title {
	cursor: help;
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-41%);
	bottom: 13%;
	font-size: 14px;
	width: 300px;
}

.title__highlight {
	color: #58E2AA;
}

.title:hover~.tooltip-progress-bar {
	opacity: 1;
	transition: opacity .4s ease-out;
}

.placeholder-pic {
	position: relative;
	margin: -10px -10px;
	background: url('under-construction.webp') no-repeat center/cover;
	height: 63vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.tooltip-progress-bar {
	opacity: 0;
	position: absolute;
	bottom: 27%;
	left: 69%;
	border: 2px solid #1C2F36;
	border-radius: 25px;
	width: 100px;
	background-color: #fff;
	transition: opacity .4s ease-in;
}

.tooltip-progress-bar::before {
	content: '';
	position: absolute;
	bottom: -30px;
	left: -9%;
	transform: rotate(-45deg);
	width: 66px;
	height: 2px;
	background-color: #58E2AA;
}

.tooltip-progress-bar__inner {
	border-radius: 25px;
	width: 85%;
	text-align: center;
	background-color: #58E2AA;
}

@media (min-width: 768px) {
	.title {
		bottom: 13.5%;
		font-size: 17px;
		width: initial;
	}

	.placeholder-pic {
		height: 70vh;
		background-position: 0 0;
	}
}

@media (min-width: 960px) and (min-height: 600px) {
	.title {
		bottom: 12%;
		transform: translateX(-37%);
		width: 433px;
		font-size: 19px;
		line-height: 1.2;
	}

	.placeholder-pic {
		height: 101vh;
		background-position: center;
		background-size: 71%;
	}

	.tooltip-progress-bar {
		bottom: 28%;
		left: 67%;
	}
}

@media (min-width: 1007px) {
	.title {
		bottom: 11%;
	}

	.tooltip-progress-bar {
		bottom: 27%;
	}
}

@media (min-width: 1143px) {
	.title {
		bottom: 12%;
	}

	.placeholder-pic {
		background-size: 67%;
	}

	.tooltip-progress-bar {
		left: 65%;
		bottom: 26%;
	}
}

@media (min-width: 1280px) {
	.title {
		bottom: 13%;
		transform: translateX(-44%);
		font-size: 21px;
	}

	.placeholder-pic {
		background-size: 70%;
	}

	.tooltip-progress-bar {
		left: 64%;
		bottom: 25.5%;
	}
}

@media (min-width: 1280px) and (min-height: 720px) {
	.title {
		bottom: 9%;
	}

	.tooltip-progress-bar {
		bottom: 23%;
	}
}

@media (min-width: 1536px) {
	.title {
		transform: translateX(-50%);
		font-size: 23px;
	}

	.tooltip-progress-bar {
		left: 63%;
	}

	.tooltip-progress-bar::before {
		bottom: -39px;
		left: -26%;
		width: 85px;
	}
}

@media (min-width: 1920px) {
	.placeholder-pic {
		background-size: 55%;
	}

	.title {
		bottom: 13%;
	}

	.tooltip-progress-bar {
		bottom: 25%;
		left: 62%;
	}
}